.addNewPersonContainer {
    margin: 0 0 0 auto;
    border: 4px solid blueviolet;
    padding: 12px;
    height: fit-content;
    position: relative;
}

.disablingLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.1);
}

.filterColumn {
    margin: 0 0 12px 0;
}

.filterHeading {
    margin: 0 0 6px 0;
    font-size: 12px;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    cursor: pointer;
}

.emptyInputErrorMessage {
    color: red;
    font-weight: 600;
    margin: 12px auto 0 auto;
}