.filters {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.filterColumn {
    margin: 0 12px 0 0;
}

.filterHeading {
    margin: 0 0 6px 0;
    font-size: 12px;
}

.button {
    cursor: pointer;
    margin: 0 6px 0 0;
}

.disabledButton {
    margin: 0 6px 0 0;
    pointer-events: none;
    position: relative;
    z-index: 10;
}
.disabledButton:before {
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
}

.enabledInput {
    width: fit-content;
    height: fit-content;
}

.disabledInput {
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: -10;
}
.disabledInput::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}