.personsContainer {
    width: calc(100% - 14px);
    margin: 0 auto 24px auto;
    height: fit-content;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 12px;
}

.personsHeading {
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: blueviolet;
}

.contentContainer {
    display: flex;
}