div.berryContainer {
    width: 45%;
    height: 320px;
    margin: 12px 0 0 0;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 12px;
    position: relative;
}

.berryHeading {
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: blueviolet;
}

.intro {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 800;
}

.refetch {
    position: absolute;
    right: 10px;
    bottom: 10px;
}