.customCounterContainer {
    width: calc(100% - 14px);
    margin: 0 auto 24px auto;
    height: fit-content;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 12px;
    position: relative;
}

.counterHeading {
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: blueviolet;
}

.innerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 30%;
    margin: 0 auto;
}

.button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding: 16px 12px;
    outline: none;
    border: 2px solid transparent;
    color: rgb(112, 76, 182);
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
}

.amount {
    padding: 10px 15px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    background-color: blueviolet;
    margin: 0;
}

.resetBtn {
    position: absolute;
    bottom: 5px;
    left: 5px;
}