div.pokemonContainer {
    width: 45%;
    height: 320px!important;
    margin: 12px 0 0 0;
    height: fit-content;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 12px;
}

div.pokemonContainer > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.singlePokemon{
    width: fit-content;
    height: fit-content;
}

.cacheTime {
    font-size: 10px;
    margin: 0;
}

.pokemonHeading {
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: blueviolet;
}