.editContainer {
    border: 4px solid blueviolet;
    min-height: calc(100% + 10px);
    width: calc(100% + 10px);
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editForm {
    margin: 0;
    padding: 6px;
    height: fit-content;
    position: relative;
    background-color: white;
}

.filterColumn {
    margin: 0 0 6px 0;
}

.filterHeading {
    margin: 0 0 3px 0;
    font-size: 10px;
}

.btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    cursor: pointer;
}

.emptyInputErrorMessage {
    color: red;
    font-weight: 400;
    font-size: 12px;
    margin: 6px auto 0 auto;
    text-align: center;
}