div.placeholderContainer {
    width: 100%;
    height: 600px;
    margin: 12px 0 0 0;
    box-sizing: border-box;
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 12px;
}

div.cont {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.placeholderHeading {
    margin: 0 0 12px 0;
    padding: 12px 0;
    background-color: blueviolet;
}

.postsContainer {
    width: 47%;
    height: 430px;
    padding: 0;
    border-bottom: 12px solid blueviolet;
    border-top: 12px solid blueviolet;
}

.posts {
    width: 100%;
    height: calc(100% - 24px);
    overflow-y: scroll;
}

.post {
    border-bottom: 2px dashed blueviolet;
    font-size: 14px;
}
.post:last-child {
    border-bottom: none;
}
.post > p >span {
    font-size: 14px;
    font-weight: 800;
}

.total {
    font-weight: 800;
    color: blueviolet;
}

.singlePost {
    width: 100%;
    height: 47%;
    padding: 0;
    border-bottom: 6px solid blueviolet;
    border-top: 6px solid blueviolet;
}

.btnContainer {
    margin: 12px 0;
}
.btnContainer > button {
    margin: 0;
}

.resetBtn {
    margin-left: 400px!important;
}

.outputContainer {
    width: 100%;
    height: 47%;
    padding: 0;
    border-bottom: 6px solid blueviolet;
    border-top: 6px solid blueviolet;
}

.skeleton {
    width: 80%;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
}

.skeleton > div {
    width: 100%;
    height: 17%;
    border-radius: 2px;
    background-color: #d9d9d9;
    position: relative;
}

.skeleton > div > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 2px;
    background-color: #f2f2f2;
    animation-name: skeleton;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes skeleton {
    0% {left: 0}
    100% {left: 100%}
}