.App {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.mainHeading {
    margin: 0 0 24px 0;
    padding: 24px;
    background-color: blueviolet;
}

button {
    color: black;
    background-color: blueviolet;
}