.table {
    border: 1px solid blueviolet;
    background-color: blueviolet;
}

.tableWithLoader {
    border: 1px solid blueviolet;
    background-color: blueviolet;
    position: relative;
    z-index: 10;
}
.tableWithLoader:before {
    content: "...Loading";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.tableHeadingCell {
    width: fit-content;
    padding: 10px 5px;
    background-color: blueviolet;
    border: 1px solid white;
}

.tableBodyCell {
    width: fit-content;
    padding: 10px 5px;
    border: 1px solid blueviolet;
    background-color: white;
}
.tableBodyCell:last-child {
    text-align: center;
}

.editBtn {
    text-align: center;
    cursor: pointer;
    color: blueviolet;
    border-color: blueviolet;
    margin-right: 6px;
    margin-left: 6px;
}

.deleteBtn {
    text-align: center;
    cursor: pointer;
    color: blueviolet;
    border-color: blueviolet;
    position: relative;
    margin-right: 6px;
}
.deleteBtn:before {
    content: "delete";
    padding: 10px 5px;
    text-align: center;
    color: white;
    background-color: rgba(138, 43, 226, 0.8);
    position: absolute;
    bottom: 105%;
    right: 50%;
    transform: translateX(50%);
    z-index: -10;
}
.deleteBtn:hover:before {
    z-index: 1000;
}